@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: normal;
	src: local('TTLakes'),
		url(fond/TTLakes-Regular.woff) format('woff');

}

/* Жирный */
@font-face {
	font-family: 'TTLakes';
	font-style: normal;
	font-weight: bold;
	src: local('TTLakes'),
		url(fond/TTLakes-Bold.woff) format('woff');
}

.upperMenu_mob {
	display: none;
}





.menu {
	display: inline-block;
	margin-left: 240px;
}


.Title {
	display: grid;
	grid-template-columns: 25px 700px 130px 65px 120px 50px;
	height: 100px;
	padding-top: 0px;
	margin-bottom: 0px;
	align-items: center;

}


.highlight {
	width: 4px;
	height: 40px;
	background-color: #41F6D7;
	margin-bottom: 0px;
	margin-left: 0px;
}

.ligh {


	margin-top: 0px;
	margin-left: 0px;
	font-family: TTLakes;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 00px;
}

.chec {
	font-family: TTLakes;
	font-size: 15px;
}

.rep {
	font-family: TTLakes;
	font-size: 15px;

}



.Copy {

	background-color: #F8F8F8;
	width: 1120px;

}

.slideMenu {
	display: inline-block;
	height: 40px;
	width: 1095px;
	margin-left: 20px;
}

.styled {
	display: block;
	float: left;
	color: #7E7E82;
	border: 2px thin #F8F8F8;
	border-color: #F8F8F8;
	font-size: 18px;
	margin: 7px;
	padding: 10px;
	height: 40px;
	font-family: TTLakes;
	font-size: 16px;
}

.b2 {
	display: none;
}

.styled:nth-child(1) {
	background-color: white;
	border-radius: 6px;
	border: 2px thin aqua;
	border-color: aqua;
}

.bloctexpic {
	display: grid;
	grid-template-columns: 550px 532px;
	margin-top: 0px;
}

.bloc {
	display: inline-block;
	width: 290px;
	margin-top: 0px;
}

.otz {

	font-family: TTLakes;
	font-size: 18px;
	margin-left: 40px;
	margin-bottom: 5px;

}

.tex {
	display: block;
	font-family: TTLakes;
	font-size: 14px;
	height: 180px;
	width: 490px;
	float: left;
	margin-left: 25px;
	overflow: hidden;
}

.Expan1 {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 30px;
	margin-top: 10px;
}

.Read {
	display: block;
	float: left;
	font-family: TTLakes;
	font-size: 17px;
	height: 180px;
	margin-left: 5px;
	margin-top: 5px;
}

.Picture {
	width: 532px;
	height: 307px;

}

.Picture img {
	width: 100%;
}